[Desktop Entry]
Version=1.0
#true;false
Terminal=true
Name=LinuxCNC_SUDA_ST8070_5i25-7i76\n(github-master)
Exec="/usr/bin/linuxcnc 'linuxcnc/configs/LinuxCNC_Dcs_M4-master/src/SUDA_ST8070_5i25-7i76.ini'"
Type=Application
Comment=
Icon=/usr/share/linuxcnc/linuxcncicon.png
Name[en_US]=LinuxCNC_SUDA_ST8070_5i25-7i76\n(github-master)
